Repository COSC-499-W2023/year-long-project-team-10, changes with the labels that .github/labeler.yml gives for each.
All labels: github-actions, server, database-actions, log, back-end, test-report

Added Search Link to Navbar
  app/app/auth/page.tsx
  app/app/chats/page.tsx
  app/app/components/Navbar/Navbar.tsx
  app/app/layout.tsx
  app/app/routes/SessionCheck.js
  app/app/routes/SignIn.js
  app/package-lock.json
  app/package.json
Labels: none

Gitignore Update and Package Addition
  app/.gitignore
  app/app/auth/page.tsx
  app/app/routes/SignUp.js
  app/package-lock.json
  app/package.json
Labels: none

DDL Changes
  app/ddl/database-schema.sql
Labels: database-actions

Standardized the Input Fields on Sign-Up
  app/app/auth/page.tsx
Labels: none

Fixed Styling Issues
  app/app/auth/page.tsx
  app/app/globals.css
  app/app/layout.tsx
Labels: none

Further Changes to User Auth Pages
  app/app/auth/page.tsx
  app/app/components/ui/checkbox.tsx
Labels: none

Sign-Up Page Changes
  app/app/auth/page.tsx
  app/app/components/createProfileForm/createProfileForm.jsx
  app/app/routes/CreateProfile.js
Labels: none

SandBox Changes
  app/app/auth/page.tsx
  app/app/components/Navbar/Navbar.tsx
  app/app/contexts/WebSocketContext.js
  app/app/contexts/WebSocketContext.ts
  app/app/layout.tsx
  app/app/profile/[slug]/page.tsx
  app/app/routes/SaveProfileData.js
  app/app/routes/SignIn.js
  app/server.js
  package-lock.json
Labels: server

Record user video, need to fix package.json
  app/app/fileUpload/page.tsx
Labels: none

adjusted directory structure for docker build
  app/docker-compose.yml
  app/dockerfiles/express/Dockerfile
  app/dockerfiles/next/Dockerfile
Labels: back-end

fixed docker file
  app/.env
  app/Dockerfile.expressjs
  app/Dockerfile.nextjs
  app/docker-compose.yml
Labels: back-end

.github/labeler.yml:

github-actions:
  - changed-files:
    - any-glob-to-any-file: .github/**
server:
  - changed-files:
    - any-glob-to-any-file: app/server.js
database-actions:
  - changed-files:
    - any-glob-to-any-file: app/ddl/**
log:
  - changed-files:
    - any-glob-to-any-file: docs/weekly\ logs/**
back-end:
  - changed-files:
    - any-glob-to-any-file: 
      - app/docker-compose.yml
      - app/Dockerfile
      - app/tailwind.config.js
      - app/tsconfig.json
test-report:
  - changed-files:
    - any-glob-to-any-file: app/__tests__
